#photos
  = image_tag "1.jpg", :class => "current"
  = image_tag "2.jpg", :class => ""
  = image_tag "3.jpg", :class => ""
  = image_tag "4.jpg", :class => ""
  = image_tag "5.jpg", :class => ""
  = image_tag "6.jpg", :class => ""
